<!doctype html>
<html lang="en">
  <head>
    <title>Welcome to Maze Escape!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/title.css">
  </head>
  <body>
    <h1>Lights Out</h1>
    <p>Press space to continue...</p>
    <script>

      //This function will cause the browser to load the in-game view
      function startGame() {
          window.location.href = "maze.html";
      }

      //Spacebar trigger the above function
      document.body.addEventListener("keyup",function(e) {
        if (e.key == " ")
            startGame();
      });

    </script>
  </body>
</html>
