<!doctype html>
<html lang="en">
  <head>
    <title>Maze Escape</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css"  type="text/css">
  </head>
  <body>
    <main>
      <img src="images/wall-left.png" alt="wall to the left">
      <img src="images/wall-ahead.png" alt="wall ahead">
      <img src="images/wall-right.png" alt="wall to the right">
    </main>
    <nav>
      <form action="return false">
        <fieldset>
            <input name="fwd" type="image" src="images/arrow.png" alt="move forward">
            <input name="rev" type="image" src="images/arrow.png" alt="move forward">
            <input name="lft" type="image" src="images/arrow.png" alt="move forward">
            <input name="rht" type="image" src="images/arrow.png" alt="move forward">
        </fieldset>
      </form>
    </nav>
    <aside>
      <form action="return false">
        <fieldset>
          <center><h1>Items</h1></center>
          <input name="chalk" type="image" src="images/chalk.png" alt="chalk">
          <input name="rope" type="image" src="images/rope.png" alt="rope">
          <input name="plank" type="image" src="images/plank.png" alt="plank">
        </fieldset>
      </form>
    </aside>
  </body>
</html>
