<!doctype html>

<!--

All Current Work: Tyler Rimaldi

-->

<html lang="en">

<head>
  <title>Lights Out</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/leaders.css">
</head>

<body onload=populateLeaders()>
  <h1>Leaderboards</h1>
  <center>
    <div id="leadersbox">
      <table id="table" border="1">
        <tr>
          <th>User Name</th>
          <th>Steps</th>
        </tr>
      </table>
      <div>
  </center>
  <script type="text/javascript" src="scripts/leaders.js"></script>
</body>

</html>
