<!doctype html>
<html>
<head>
  <title>Lights Out</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/leaders.css">
</head>
<body onload=populateLeaders()>
  <h1>Leaderboards</h1>
    <center><div id="leadersbox">
     <table id="table" border="1">
         <!-- The Row Number 0 -->
         <tr>
             <th>User Name:</th>
             <th>Date Finished (DD-MM-YY)</th>
             <th>Time Finished (Military)</th>
             <th>Total Time Spent(HRS:MIN:SEC)</th>
         </tr>
     </table>
     <div></center>

     <script>
     //Load remade leaderboard
      function populateLeaders(){
         var array = [["XxVoltextXx","9-20-18","4:14","18:0:00"],
                      ["Bill90","9-22-18","18:12","27:03:22"],
                      ["HiLo","9-23-18","2:26","29:03:00"],
                      ["CGIYUP","9-27-18","14:45","30:36:56"],
                      ["FortniteGod","9-30-108","10:55","32:18:09"]],
             table = document.getElementById("table");
        for(var i = 0; i < array.length; i++){
            // create a new row
            var newRow = table.insertRow(table.length);
            for(var j = 0; j < array[i].length; j++){
                // create a new cell
                var cell = newRow.insertCell(j);

                // add value to the cell
                cell.innerHTML = array[i][j];
            }
        }
      }

        function goToMenu() {
            window.location.href = "menu";
        }

        //Spacebar trigger the above function
        document.body.addEventListener("keyup",function(e) {
          if (e.key == " ")
              goToMenu();
        });

     </script>
</body>
</html>
