<!doctype html>

<!--

All Current Work: Tyler Rimaldi

-->

<html lang="en">
<head>
  <title>Lights Out</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/maze.css">
</head>
<body>
  <main>
    <img src="images/no-wall.png" alt="wall to left">
    <img src="images/no-wall.png" alt="wall ahead">
    <img src="images/no-wall.png" alt="wall to right">
    <form onsubmit="return false;">
      <fieldset id="items"></fieldset>
    </form>
  </main>
  <nav>
    <form onsubmit="return false;">
      <fieldset>
        <input id="forward" name="fwd" type="image" src="images/arrow.png" alt="move forward" onclick="moveFwd()">
        <input id="right" name="right" type="image" src="images/arrow.png" alt="turn right" onclick="turnRight()">
        <input id="backward" name="bwd" type="image" src="images/arrow.png" alt="turn around" onclick="turnAround()">
        <input id="left" name="left" type="image" src="images/arrow.png" alt="turn left" onclick="turnLeft()">
      </fieldset>
    </form>
  </nav>
  <aside id="inventory">
    <h1>Items</h1>
    <form onsubmit="return false;">
      <fieldset></fieldset>
    </form>
  </aside>

  <!-- Background music, autoplays on load -->
  <audio id="t-rex-roar" controls autoplay src="music/In Pursuit.mp3">
   Your browser does not support the <code>audio</code> element.
  </audio>

  <!--Script for neccessary actions -->
  <script type="text/javascript" src="scripts/maze.js"></script>
</body>
</html>
