<!doctype html>

<!--

All Current Work: Tyler Rimaldi

-->

<html lang="en">
<head>
  <title>Lights Out</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/maze.css">
</head>
<body>
  <main>

    <!-- <div class="container1"> -->
      <img src="images/no-wall.png" alt="wall to left" onclick="message()">
      <!-- <div class="center">Test</div>
    </div> -->

    <!-- <div class="container2"> -->
      <img src="images/no-wall.png" alt="wall ahead" onclick="message()">
      <!-- <div class="center">
    </div> -->
<!--
    <div class ="container3"> -->
      <img src="images/no-wall.png" alt="wall to right" onclick="message()">
      <!-- <div class="center">Test</div>
    </div> -->

    <form onsubmit="return false;">
      <fieldset id="items"></fieldset>
    </form>
  </main>
  <nav>
    <form onsubmit="return false;">
      <fieldset>
        <input id="forward" name="fwd" type="image" src="images/arrow.png" alt="move forward" onclick="moveFwd();loadUserNameAndLoc();">
        <input id="right" name="right" type="image" src="images/arrow.png" alt="turn right" onclick="turnRight()">
        <input id="backward" name="bwd" type="image" src="images/arrow.png" alt="turn around" onclick="turnAround()">
        <input id="left" name="left" type="image" src="images/arrow.png" alt="turn left" onclick="turnLeft()">
      </fieldset>
    </form>
  </nav>
  <aside id="itemAside">
    <h1 class="descrip">Items</h1>
    <form onsubmit="return false;">
      <fieldset id="inventory"></fieldset>
    </form>
  </aside>

  <aside id="stepsAside">
    <h1 class="descrip">Steps</h1>
    <h2 id="steps"></h2>
    <h1 class="descrip">Direc</h1>
    <h2 id="direction"></h2>
    <button id="infoButton"><p id="infoButtonText">Info</p></button>
  </aside>


  <!-- The Modal -->
  <div id="information" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 id ="userName"></h1>
      <h2>OBJECTIVE:</h2>
      <p class="info">Escape alive, don't get killed by any of the traps or monsters. Find out
         who you really are and why the maze will not ever let you leave this dark
         mess!</p>
      <h2>Have to exit the game? </h2>
        <p class="info">Don't worry! To go back to the main menu, press the "escape key" on your keyboard! All progress will be saved. <p>
    </div>
  </div>

  <!-- Background music, autoplays on load -->
  <audio id="t-rex-roar" controls autoplay src="music/In Pursuit.mp3">
   Your browser does not support the <code>audio</code> element.
  </audio>

  <!--Script for neccessary actions -->
  <script type="text/javascript" src="scripts/maze.js"></script>
</body>
</html>
