<!doctype html>
<html>
<head>
  <title>Lights Out</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/menu.css">
</head>
<body>
  <h1>Main Menu</h1>

<!--Temporary sound, sorry -->
  <audio id="myAudio" src="http://www.sousound.com/music/healing/healing_01.mp3" preload="auto">
  </audio>
  <!-- menu selector box -->
<center><div id="menubox">
  <button class="link">[1] New Game: Start a new session </button>
  <button class="link">[2] Resume: Start from your last session</button>
  <button class="link">[3] About: Learn about the game </button>
  <button class="link">[4] Leaderboard: See where you rank</button>
  <button class="link">[5] Toggle Audio: On or Off </button>
  <button class="link">[6] Credits: Learn about the creators </button>
</div></center>

  <script>

  // Menu Selector
  document.body.addEventListener("keyup",function(e){
      switch(e.key ) {
          case "1":
              newGame();
              break;
          case "2":
               launchSavedGame();
               break;
          case "3":
               howToPlay();
               break;
          case "4":
               leaderboard();
               break;
          case "5":
               togglePlay();
               break;
          case "6":
               credits();
               break;
      //    default:
        //       alert("An invalid choice has been selected!")
      }
  });

    //This function will cause the browser to load the in-game view
    function newGame() {
        window.location.href = "maze";
    }

    function launchSavedGame() {
        window.location.href = "maze";
    }

    function howToPlay() {
        window.location.href = "about";
    }

    function leaderboard() {
        window.location.href = "leaders";
    }

    var myAudio = document.getElementById("myAudio");

    function togglePlay() {
      return myAudio.paused ? myAudio.play() : myAudio.pause();
    };

    function credits() {
        window.location.href = "credits";
    }

        // var element = document.getElementsByClassName('link')[0]; // grab a reference to your element
        // element.addEventListener('click', newGame());



  </script>
</body>
</html>
