<!doctype html>
<html>
<head>
  <title>Maze Game</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/menu.css">
</head>
<body>
  <h1>Main Menu</h1>

  <!-- menu selector box -->
<center><div id="menubox">
  <button class="link">[1] New Game: Start a new session </button>
  <button class="link">[2] Resume: Start from your last session</button>
  <button class="link">[3] About: Learn about the game </button>
  <button class="link">[4] Leaderboard: See where you rank</button>
  <button class="link">[5] Toggle Audio: On or Off </button>
  <button class="link">[6] Credits: Learn about the creators </button>
</div></center>

  <script>

  // Menu Selector
  document.body.addEventListener("keyup",function(e){
      switch(e.key ) {
          case "1":
              newGame();
              break;
          case "2":
               launchSavedGame();
               break;
          case "3":
               howToPlay();
               break;
          case "4":
               leaderboard();
               break;
          case "5":
               audioToggle();
               break;
          case "6":
               credits();
               break;
      //    default:
        //       alert("An invalid choice has been selected!")
      }
  });





    // //Spacebar trigger the above function
    // document.body.addEventListener("keyup",function(e) {
    //   if (e.key == "1")
    //       newGame();
    //       else if (e.key == "2")
    //                launchedSavedGame();
    //                else if (e.key == "3")
    //                        howToPlay();
    //                        else if (e.key == "4")
    //                                 leaderboard();
    //                                 else if (e.key == "5")
    //                                         audioToggle();
    //                                         else if (e.key == "6")
    //                                                  credits();
    //
    // });


    //This function will cause the browser to load the in-game view
    function newGame() {
        window.location.href = "maze";
    }

    function launchSavedGame() {
        window.location.href = "maze";
    }

    function howToPlay() {
        window.location.href = "about";
    }

    function leaderboard() {
        window.location.href = "leaders";
    }

    function audioToggle() {
      // JS
    }

    function credits() {
        window.location.href = "credits";
    }

        // var element = document.getElementsByClassName('link')[0]; // grab a reference to your element
        // element.addEventListener('click', newGame());

  </script>
</body>
</html>
