<!doctype html>

<!--

All Current Work: Tyler Rimaldi

-->

<html lang="en">
<head>
  <title>Lights Out</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/menu.css">
</head>
<body onload=togglePlay()>
  <h1>Main Menu</h1>

  <!--Temporary sound, sorry -->
  <audio id="myAudio"
    src="http://www.sousound.com/music/healing/healing_01.mp3" preload="auto">
  </audio>

  <!-- menu selector box -->
  <!-- TODO: update css when toggle play is activated -->
  <center><div id="menubox">
    <ol>
      <li><button onclick="newGame()" class="link">New Game: Start a new session </button></li>
      <li><button onclick="launchSavedGame()" class="link">Resume: Start from your last session</button></li>
      <li><button onclick="howToPlay()" class="link">About: Learn about the game </button></li>
      <li><button onclick="leaderboard()" class="link">Leaderboard: See where you rank</button></li>
      <li><button onclick="togglePlay()" class="link">Toggle Audio: <text id="On">On</text> or <text id="Off">Off</text></button></li>
      <li><button onclick="credits()" class="link">Credits: Learn about the creators </button></li>
    </ol>
  </div></center>

  <script>
    // Menu Selector
    document.body.addEventListener("keyup",function(e){
        switch(e.key ) {
            case "1":
                newGame();
                break;
            case "2":
                 launchSavedGame();
                 break;
            case "3":
                 howToPlay();
                 break;
            case "4":
                 leaderboard();
                 break;
            case "5":
                 togglePlay();
                 break;
            case "6":
                 credits();
                 break;
        //TODO: Catch user mistakes
          //default:
              //alert("An invalid choice has been selected!")
        }
    });

    function newGame() {
        window.location.href = "maze";
    }

    function launchSavedGame() {
        window.location.href = "maze";
    }

    function howToPlay() {
        window.location.href = "about";
    }

    function leaderboard() {
        window.location.href = "leaders";
    }

    //Grab audio element, if it is clicked and is paused, then play.
    //If it is clicked and is playing, then pause
    function togglePlay() {
        var myAudio = document.getElementById("myAudio");
        function on() {
            document.getElementById("Off").style.color="White";
            document.getElementById("On").style.color="Red";
            myAudio.play()
        }
        function off() {
            document.getElementById("On").style.color="White";
            document.getElementById("Off").style.color="Red";
            myAudio.pause();
        }
        return myAudio.paused ? on() : off();
    }

    function credits() {
        window.location.href = "credits";
    }

  </script>
</body>
</html>
